<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <menu-component></menu-component>
    <h1>Home Component</h1>
    <div id="main-menu-block" class="navbar navbar-default navbar-left">
        <div id="login-block" (click)="showLoginModal()">Login</div>
        <div id="registration-block" (click)="showRegistrationModal()">Registration</div>
    </div>

<login-component></login-component><registration-component></registration-component>
<line-chart-demo></line-chart-demo>
</body>
</html>